<h1>Editar autor</h1>

<%= render "form", autor: @autor %>



<div class="my-4">
  <%= link_to "Voltar aos autores", autors_path, {class: "btn btn-primary"} %>
  <%= link_to "Ver autor", @autor, {class: "btn btn-info"} %>
</div>
