<% @title="Editar editora" %>
<h1><%= @title %></h1>


<%= render "form", editora: @editora %>

<div class="my-4">
  <%= link_to "Voltar às editoras", editoras_path, {class: "btn btn-primary"} %>
  <%= link_to "Ver editora", @editora, {class: "btn btn-info"} %>
</div>
