<h1> Trabalho 5: Aplicação Rails </h1>
<p>
  Este é um trabalho da disciplina de
  <a href="https://www.inf.ufpr.br/bmuller/#/ci1010" target="_blank" rel="noreferrer">Programação Web</a>.
</p>
<h2> Descrição </h2>
O trabalho deve ser uma aplicação (qualquer uma) que atenda às seguintes restrições:
<ul>
  <li>
    Deve utilizar o framework rails.
  </li>
  <li>
    A parte do modelo deve seguir as mesmas restrições adotadas para o Trabalho 2 (Ruby), com inclusão exclusão e alteração de elementos feitas não na linha de comando, mas nas views do Rails.
  </li>
  <li>
    As views devem inserir, retirar e excluir elementos das tabelas, observando as relações 1x1, 1xn, nxn.
  </li>
  <li>
    Deve haver uma tela de login, e o uso de dois tipos de usuário: o administrador (por exemplo para incluir, alterar e excluir novos registros no BD) e usuários (para consultar estes registros). Usuários não podem incluir, alterar e excluir elementos.
  </li>
  <li>
    Não há uma aplicação "padrão". Cada um desenvolve a sua.
  </li>
  <li>
    Composição da nota:
    <ul>
      <li>
        20 pontos para funcionamento.
      </li>
      <li>
        50 pontos para presença e funcionamento das relações 1x1, 1xn, nxn
      </li>
      <li>
        10 pontos para o framework de testes (vou executar "rake test")
      </li>
      <li>
        10 pontos para a aparência harmoniosa (css)
      </li>
      <li>
        10 pontos para o uso de javascript (ou jquery) - deixe indicado o que foi usado
      </li>
    </ul>
  </li>
  <li>
    Forma de Entrega: email indicando sua conta na litorina, assim como o diretório do trabalho. Aqueles que precisarem apresentar em notebook devem marcar horário comigo com pelo mee antecedência.
  </li>
</ul>
