<div id="<%= dom_id sinopse %>">
  <p>
    <strong>Texto:</strong>
    <%= sinopse.texto %>
  </p>

  <p>
    <strong>Livro:</strong>
    <%= sinopse.livro_id %>
  </p>

  <p>
    <strong>Livro:</strong>
    <%= sinopse.livro_id %>
  </p>

</div>
