<% @title="Editar sinopse" %>
<h1><%= @title %></h1>



<%= render "form", sinopse: @sinopse %>

<div>
  <%= link_to "Voltar às sinopses", sinopses_path, {class: "btn btn-primary"} %>
  <%= link_to "Ver sinopse", @sinopse, {class: "btn btn-info"} %>
</div>
