<div id="<%= dom_id livro %>">
  <p>
    <strong>Ano:</strong>
    <%= livro.ano %>
  </p>

  <p>
    <strong>Nome:</strong>
    <%= livro.nome %>
  </p>

  <p>
    <strong>Editora:</strong>
    <%= livro.editora_id %>
  </p>

</div>
