<% @title="Editar livro" %>
<h1><%= @title %></h1>



<%= render "form", livro: @livro %>

<div class="my-4">
  <%= link_to "Voltar a livros", livros_path, {class: "btn btn-primary"} %>
  <%= link_to "Ver livro", @livro, {class: "btn btn-info"} %>
</div>
