<p style="color: green"><%= notice %></p>

<h1>Livros</h1>

<%= link_to "Criar livro", new_livro_path, {class: "btn btn-success"} %>

<div id="livros">
  <% @livros.each do |livro| %>
    <%= render livro %>
    <p>
      <%= link_to "Show this livro", livro %>
    </p>
  <% end %>
</div>

